
body
{
     background-image: url("ww.jpg") ;
     background-position: center;
     background-repeat: no-repeat;
}




h1
{
    font-size: 55px;
    color: white;
    text-align: center;
    margin-top: 100px;
    font-family: 'Raleway', sans-serif;
    text-shadow: 1px 2px 3px #666;
    animation-duration: 3.5s;
    
}

p
{
    text-align: center;
    margin-top: 75px;
    color: white;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    text-shadow: 1px 2px 3px #666;
}

nav
{
    margin-top: 150px;
    text-align: center;
    padding: 30px;
  
}


